/* General classes */
body { font-family: monospace; margin: 0; padding: 0; }
.content-wrapper { text-align:center; padding-top: 150px; color: chocolate; }
.header-wrapper { width: 100%; height: 40px; background-color: chocolate; color: white }
.footer-wrapper { width: 100%; line-height: 40px; bottom: 0; background-color: chocolate; position: absolute; color: white }
.footer-text-left { padding-left: 15px; float: left; text-align: left }
.footer-text-right { padding-right: 15px; float: right; text-align: right }

/* Cookie specific */
.cookie-icon-wrapper { width: 200px; height: 75px; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; }
.cookie-icon-wrapper:hover { background-color: #fdceac; }
.cookie-text-wrapper { width: 250px; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; }
.cookie { cursor: pointer; font-size: 60px; }

/* Fortune specific */
.fortune-text-wrapper { display: none; width: 500px; margin: 0 auto; padding: 20px 20px 20px 20px; background-color: chocolate; color: white; }
.fortune-button-wrapper { display: none; }
.fortune-cs {}
.fortune-en { color: lightgrey; font-style: italic; }

/* Common */
.button-standard {
    cursor: pointer;
    margin-top: 10px;
    background-color:#d2691e;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #d2691e;
    display:inline-block;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
}
.button-standard:hover {
    background-color:#b55b1b;
}
.button-standard:active {
    position:relative;
    top:1px;
}